body{
    font-family: 'Playfair Display', serif;
    background: #ff847c;     
}

.pokeHeader{
    color: #45171d;
    background-color: #fecea8;
    font-weight: bold;
    padding: 100px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.pokeEntry{
    color: #45171d;
    font-size: 200%;
    background-color: #fecea8;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

#userName{
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    text-align: center;
}

#submit{
    font-family: 'Playfair Display', serif;
    background-color: #ff847c;
    border-radius: 10px;
}

hr{
    height:5px;
    border-width:0;
    background-color:#45171d;
  }

.chooseTitle{
    background-color: #45171d;
    color: #fecea8; 
    padding: 30px;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
}

.pokeButtons{
    display: flex;
    background-color: #fecea8; 
    border-radius: 10px;
    width: 100%;
    padding: 50px;
    justify-content:center;
    font-family: 'Playfair Display', serif;
    font-style: oblique;
    border-radius: 20px;
    }

.chooser{
  border: none;
  height: 100px;
  padding: 20px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  margin: 10px; 
  border-radius: 20px;
  width: 150px;
  font-weight: bold;
  }

#grassButton{
    background-color: #97cba9;
}

#waterButton{
    background-color:#385170;
}

#fireButton{
    background-color: #e84a5f;
}

.pokeResult{
    display: flex;
    background-color:#45171d;
    color:#fecea8; 
    font-family: 'Playfair Display', serif;
    align-items: center;
    justify-content: space-evenly;
    text-justify: center;
    margin-top: 50px;
    border-radius: 20px;
   }

.pokeKR{
    display: flex;
    background-color: #fecea8; 
    border-radius: 10px;
    width: 30%;
    padding: 50px;
    justify-content:space-evenly;
    font-family: 'Playfair Display', serif;
    font-style: oblique;
}

#keep{
    font-family: 'Playfair Display', serif;
    background-color: #45171d;
    color: #fecea8; 
}

#release{
    font-family: 'Playfair Display', serif;
    background-color: #45171d;
    color: #fecea8; 
}

.results{
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    text-decoration: underline;
}